/*  ===================================
    Structure
    ===================================  */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 19, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 169, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 173, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 221, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 424, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_normalize.scss */
td,
th {
  padding: 0; }

/*  ===================================
    Variables

    Place your global variables here.
    ===================================  */
/*  ===================================
    Typography

    Place your global typography styles
    here.
    ===================================  */
/** ======================================
 * Default font stack.
 * Delete the font files from the `fonts`
 * folder if you are not using them.
 ======================================== */
/*  ===================================
    Mixins

    Place your mixins here.
    ===================================  */
/*  ===================================
    Media Queries
    ===================================  */
/*  ===================================
    Base

    This is where your base styles are
    for your mobile-first design
    ===================================  */
/* line 8, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/breakpoints/_base.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

/* line 13, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/breakpoints/_base.scss */
h1, h2, h3 {
  font-family: "Droid Serif", "Georgia", Cambria, Times New Roman, Times, serif; }

@media only screen and (min-width: 481px) {
  /*  ===================================
    481up

    481px and up
    ===================================  */ }

@media only screen and (min-width: 768px) {
  /*  ===================================
    768up

    768px and up
    ===================================  */ }

@media only screen and (min-width: 1024px) {
  /*  ===================================
    1024up

    1024px and up
    ===================================  */ }

@media only screen and (min-width: 1240px) {
  /*  ===================================
    1240up

    1240px and up
    ===================================  */ }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*  ===================================
    2x

    Retina display styles
    ===================================  */ }

@media print {
  /*  ===================================
    print

    Stylesheet for printing
    ===================================  */
  /* Reset quotes */
  /* line 9, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  q {
    quotes: none; }
  /* line 11, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  q:before, q:after {
    content: ""; }
  /* Hide everything unneeded */
  /* line 17, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  header h1, header nav, footer, img {
    display: none; }
  /* font sizes */
  /* line 23, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    color: #000; }
  /* line 35, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  h1 {
    font-size: 24pt; }
  /* line 39, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  h2 {
    font-size: 14pt;
    margin-top: 25px; }
  /* line 43, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  aside h2 {
    font-size: 18pt; }
  /* Show printer-frindly logo. */
  /* line 49, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  header .print {
    display: block; }
  /* If you like things a little bit easier and more semantic you can alternatively just leave the h1 of the header visible, switch off the margin and make it bigger than the rest of the headlines */
  /*header nav, footer, img {display: none}



header h1 {

	margin: 0;

	font-size: 30pt;

}*/
  /* Some browsers like to show a border around images. Switch it off */
  /* line 71, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  img {
    border: 0; }
  /* Mover the header a little bit awy from the content */
  /* line 77, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  header {
    margin-bottom: 40px; }
  /* Display the URL of the site so that the user knows where the printout came from */
  /* line 83, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  header:after {
    display: block;
    content: "www.smashing-winery.com"; }
  /* Additionally/optionally a little message could be displayed */
  /*header:before {

	display: block;

	content: "Thank your for printing our content at www.smashing-winery.com. Please check back soon for new offers about delicious wine from our winery.";

	margin-bottom: 10px;

	border: 1px solid #bbb;

	padding: 3px 5px;

	font-style: italic;

}*/
  /* Separate blockquotes a little bit from the rest */
  /* line 109, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  blockquote {
    font-size: 13pt;
    font-style: italic; }
  /* By default links are blue. For optimal legibility change them to black */
  /* line 121, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  p a {
    color: #000; }
  /* Show the URL after each link, whereby internal links are preceeded by the site's URL */
  /* line 127, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  p a:after {
    content: " (http://www.smashing-winery.com/" attr(href) ")";
    font-size: 80%;
    word-wrap: break-word; }
  /* External links don't get this treatment */
  /* line 141, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  p a[href^="http://"]:after, p a[href^="https://"]:after {
    content: " (" attr(href) ")"; }
  /* Append the source of the citation */
  /* line 151, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  q:after {
    content: " (" attr(cite) ")"; }
  /* The Sidebar is placed under the content automatically. To distinguish it from the rest a border and a gap is set before */
  /* line 157, Volumes/Work Storage/MAMP/htdocs/scssMediaQueries/scss/_print.scss */
  aside {
    border-top: 1px solid #bbb;
    margin-top: 30px;
    display: block;
    /*page-break-before: always; */
    /* Moves the sidebar to new page */ } }
/*# sourceMappingURL=main.css.map */