/*  ===================================
    Structure
    ===================================  */

// reset: http://meyerweb.com/eric/tools/css/reset/
// @import "reset";

// normalize: http://necolas.github.io/normalize.css/
@import "normalize";

// Sass variables
@import "variables";

// typography
@import "typography";

// import mixins
@import "mixins";


/*  ===================================
    Media Queries
    ===================================  */

// Base styles
@import "breakpoints/base";

// Larger mobile devices
@media only screen and (min-width: 481px) {
	// styles in 481up.scss
	@import "breakpoints/481up";
}

// Tablet
@media only screen and (min-width: 768px) {
	// styles in 768up.scss
	@import "breakpoints/768up";
}

// Desktop
@media only screen and (min-width: 1024px) {
	// styles in 1024up.scss
	@import "breakpoints/1024up";
}

// Larger desktop
@media only screen and (min-width: 1240px) {
	// styles in 1240up.scss
	@import "breakpoints/1240up";
}

// Retina (2x)
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	// styles in 2x.scss
	@import "breakpoints/2x";
}

// Print
@media print {
	// styles in print.scss
	@import "print";

}