/*  ===================================
    Base

    This is where your base styles are
    for your mobile-first design
    ===================================  */

body {
	font-family: $sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: $serif;
}